[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyminion = {editable = true, path = "."}

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
coverage = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
